<main>
  <section class="login container">
    <div class="login-content">
      <app-logo class="logo"></app-logo>
      <h1 class="main-title">Olá, faça login para acessar o
        <app-colorful-app-name></app-colorful-app-name>
      </h1>
      <form>
        <div class="login-form">
          <input placeholder="Digite seu nome" type="text">
          <input placeholder="Digite sua senha" type="password">
          <button>LOGAR</button>
        </div>
      </form>
    </div>
  </section>
</main>
